@model CrudMVCApp.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1 class="mb-4 text-danger">Eliminar Usuario</h1>

<h4>¿Está seguro de que desea eliminar este usuario?</h4>
<hr />

<div class="card p-4 mb-4">
    <dl class="row">
        <dt class="col-sm-3 fw-semibold">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-3 fw-semibold">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
    </form>
</div>
